@import "../../css/colors.css";
@import "../../css/units.css";

.user-thumbnail {
    width: var(--menu-bar-button-size);
    height: var(--menu-bar-button-size);
    border-radius: var(--form-radius);
    vertical-align: middle;
    box-shadow: 0 0 0 1px var(--ui-black-transparent);
}

body {

}